#sidebar-wrapper {
  min-height: 100vh;

  overflow-y: auto;
  background: #000;
}

/* Sidebar Styles */

.sidebar-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.custom-container {
  display: flex;
}

.col-sm-10 {
  margin-left: 0px;
}

.abhijit {
  border: 1px solid red;
}
